.clear-basket{
  float: right;
}

.basket-image{
  height: 40px;
  width: auto;
  margin-right: 10px;
}

.item-container{
  display: flex;
  flex-direction: row;
}


/* responsive css  */
@media all and (max-width: 800px) {
  .item-container {
    flex-direction: column;
  }
  
  .basket-image{
    width: 50px;
    height: auto;
  }

}