<div id='clientForm'>
  <el-button type='primary' icon='el-icon-plus' v-on:click='clientFormVisible=true' v-show='showAddBtn'>Add Client</el-button>
  <el-button-group v-show='!showAddBtn'>
    <el-button type="primary" icon="el-icon-edit" v-on:click='editClientForm'></el-button>
    <el-button type="primary" icon="el-icon-delete" v-on:click='deleteClient'></el-button>
  </el-button-group>

  <el-dialog v-bind:title='formTitle' :visible.sync="clientFormVisible" width="90%">
    <el-form ref="form" :model="form">
      <el-form-item>
        <el-input v-model="form.name" placeholder='Name' clearable ></el-input>
      </el-form-item>
      <el-form-item>
        <el-input v-model="form.address" placeholder="Address" clearable></el-input>
      </el-form-item>
      <el-form-item>
        <el-input v-model="form.city" placeholder="City" clearable></el-input>
      </el-form-item>
      <el-form-item>
        <el-input v-model="form.postcode" placeholder="Postcode" clearable></el-input>
      </el-form-item>
      <el-form-item>
        <el-input v-model="form.phone" placeholder="Phone" clearable></el-input>
      </el-form-item>
      <el-form-item>
        <el-input v-model="form.email" placeholder="Email" clearable></el-input>
      </el-form-item>
      <el-form-item>
        <el-input v-model="form.lat" type='number' placeholder="Lat" clearable></el-input>
      </el-form-item>
      <el-form-item>
        <el-input v-model="form.lng" type='number' placeholder="Lng" clearable></el-input>
      </el-form-item>
        <el-button type="primary" v-on:click="addClient" v-show='showAddBtn'>Create</el-button>
        <el-button type="primary" v-on:click="updateClient" v-show='!showAddBtn'>Update</el-button>
        <el-button v-on:click='clientFormVisible=false'>Cancel</el-button>
      </el-form-item>
    </el-form>
  </el-dialog>
</div>