#productCard{
  border-radius: 3px;
  margin: 5px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  height: 220px;
  padding: 10px;
  max-width: 230px;
  min-width: 150px;
  box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
}

.product{
  justify-content: center;
  display: flex;
  flex-direction: column;

}

.el-card{
  display: flex;
  justify-content: center;
}

.el-card__body{
  padding: 10px!important;
}

.product__text{
  height: 60%;
}

img{
  max-width: 90px;
  width: auto;
  height: 100px;
  max-height: 100px;
}


@media all and (max-width: 600px) {
  #productCard{
    max-width: 100%;
    width: 100%;
    height: 100px;
  }

  .product{
    flex-direction: row;
    justify-content: stretch;
    margin-top: 5px;
  }

  .product__text{
    width: 60%;
  }

  img{
    width: 100px;
    height: auto;
  }
}

@media all and (max-width: 1100px) {
  #productCard{
    /* height: 250px; */
  }

}