#productCard{
  width: 200px;
  height: 250px;
  justify-content: center;
}

.el-card{
  display: flex;
  justify-content: center;
}

img{
  width: auto;
  height: 100px;
}

.product__text{
  display: block;
}