<div id='orderForm'>
    <el-button type='primary' icon='el-icon-plus' v-on:click='orderFormVisible=true' v-show='showAddBtn'>New Order</el-button>
    <el-button-group v-show='!showAddBtn'>
      <el-button type="primary" icon="el-icon-edit" v-on:click='editOrderForm'></el-button>
      <el-button type="primary" icon="el-icon-delete" v-on:click='deleteOrder'></el-button>
    </el-button-group>

  <el-dialog title="New Order" :visible.sync="orderFormVisible" width="90%">
    <el-form ref="form" :model="form" label-width="90px">
      <el-form-item label="Name">
        <el-input v-model="form.name"></el-input>
      </el-form-item>
      <el-form-item label="Address">
        <el-input v-model="form.address"></el-input>
      </el-form-item>
      <el-form-item label="Postcode">
        <el-input v-model="form.postcode"></el-input>
      </el-form-item>
      <el-form-item label="Phone">
        <el-input v-model="form.phone"></el-input>
      </el-form-item>
      <el-form-item label="Email">
        <el-input v-model="form.email"></el-input>
      </el-form-item>
      <el-form-item label="Lat">
        <el-input v-model="form.lat" type='number'></el-input>
      </el-form-item>
      <el-form-item label="Lng">
        <el-input v-model="form.lng" type='number'></el-input>
      </el-form-item>
        <el-button type="primary" v-on:click="addOrder">Order</el-button>
        <el-button type="primary" v-on:click="updateOrder" v-show='!showAddBtn'>Update</el-button>
        <el-button 
        v-on:click='orderFormVisible=false'>Cancel</el-button>
      </el-form-item>
    </el-form>
  </el-dialog>
</div>