<div id='loginForm'>
  <el-container class='col'>
    <h1 class='form-title'>Login to your account</h1>
    <el-form ref="form" :model="form" label-position='top' align='center'>
      <el-form-item>
        <el-input v-model="form.email" placeholder='Email' clearable></el-input>
      </el-form-item>

      <el-form-item>
        <el-input v-model="form.password" placeholder="Password" clearable type='password'></el-input>
      </el-form-item>

      <el-form-item>
        <el-alert
          v-show='loginResult.error'
          :title="errorMessage"
          type="error"
          show-icon>
        </el-alert>
      </el-form-item>
      <el-form-item>
        <el-alert
          v-show='loginResult.success'
          title="You have successfully logged in."
          type="success"
          show-icon>
        </el-alert>
      </el-form-item>
      
      <el-form-item>
        <el-button type="primary" v-on:click="loginUser">Login</el-button>
      </el-form-item>
      <el-form-item>
        Don't have an account?
        <el-button type='text' v-on:click="showRegisterForm">Register</el-button>
      </el-form-item>
    </el-form>
  </el-container>
</div>