<el-menu default-active="1" class="el-menu-demo nav-menu" mode="horizontal" @select='handleSelect'>
  <el-menu-item index="1">
    <i class="el-icon-star-off"></i>
    <span v-show='!isCollapsed'>Home</span>
  </el-menu-item>

  <el-menu-item index="2">
    <i class="el-icon-menu"></i>
    <span v-show='!isCollapsed'>Shop</span>
  </el-menu-item>

  <el-menu-item index="3">
    <i class="el-icon-tickets"></i>
    <span v-show='!isCollapsed'>Orders</span>
  </el-menu-item>

  <el-menu-item index="4" v-show='isAdmin'>
    <i class="el-icon-news"></i>
    <span v-show='!isCollapsed'>Clients</span>
  </el-menu-item>

  <el-menu-item index="5">
    <el-badge v-show='basket.length > 0':value='basketSize' class='item'>
      <i class="el-icon-goods"></i>
    </el-badge>
    <i v-show='basket.length === 0'class="el-icon-goods"></i>
    <span v-show='!isCollapsed'>Basket</span>
  </el-menu-item>

</el-menu>  
