#siteHeader{
  color: black;
  margin-top: 15px;
  position:sticky;
  top: 0;
  background-color: white;
}

a{
  color: black;
}

.logo{
  height: 80px;
  width: auto;
}

.sign-out{
  position: absolute;
  right: 15px;
  top: 15px;
}

.nav-menu{
  margin-right: 100px;
}

.container{
  display: flex;
  flex-direction: row;
  justify-content: space-between
}

.shrink .logo{
  height: 40px;
  padding: 10px;
}

.shrink .title, .shrink .subtitle{
  display: none;
}


/* responsive css  */
@media all and (max-width: 800px) {
  .container {
    flex-direction: column;
    margin: auto;
  }
  .logo{
    height: 60px;
  }
  .title{
    font-size: 20px;
  }
  .subtitle{
    font-size:14px;
  }
  .nav-menu{
    margin-right: unset;
  }
}